.topInfo{
  position: relative;
  z-index: 5;
  width: 80%;
  color: var(--color-text);
  margin: auto;
}

.navWrapper {
  position: relative;
  z-index: 4;
  width: 80%;
  height: 12vh;
  padding: 2vh 0;
  background-color: white;
  margin: auto;
  color: var(--color-text);
  margin-bottom: 2vh;
}

.content{
  position: relative;
  z-index: 3;
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: var(--background-color-white);
}

.breadcrumbContainer{
  position: relative;
  width: 80%;
  margin: auto;
  padding: 4vh 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center all internal components horizontally */
}