.topInfo{
  position: relative;
  z-index: 5;
  width: 80%;
  color: var(--color-text);
  margin: auto;
}

.navWrapper {
  position: relative;
  z-index: 4;
  width: 80%;
  height: 12vh;
  padding: 2vh 0;
  background-color: white;
  margin: auto;
  color: var(--color-text);
  margin-bottom: 2vh;
}

.content{
  position: relative;
  z-index: 3;
  width: 100%;
  background-color: var(--background-color-white);
}

.breadcrumbContainer{
  position: relative;
  width: 80%;
  margin: auto;
  padding: 4vh 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center all internal components horizontally */
}

.backgroundImage {
  background-image: url("/images/dog.jpg"); /* Change path as needed */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}

.backgroundImage::after {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: var(--color-brown);
  opacity: 0.55; /* Adjust opacity as needed */
  z-index: 1;
  pointer-events: none;
}

.backgroundImage > * {
  position: relative;
  z-index: 2;
}